/* $Id$ */


/* HTML & Body
-------------------------------------------------------------- */
html {
}

/* Default font settings. 
  The font-size percentage is of 16px. (0.75 * 16px = 12px) */
body {
  color: #000;
  font-family: Arial, Helvetica, Verdana, "Bitstream Vera Sans", sans-serif;     /* web safe fonts */
  font-size: 75%; /* 12px */
  line-height: 150%;
}


/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { 
  font-weight: bold;
}

h1 {
  font-size: 250%; /* 30px/12px */
  line-height: 125%;
  margin-bottom: 10px;
}

h2 {
  font-size: 133.33333333%; /* 16px/12px */
  line-height: 125%;
  margin-bottom: 5px;
}

h3 {
  line-height: 125%;
  margin-bottom: 5px;
}

h4 {
  line-height: 125%;
  margin-bottom: 5px;
}

h5 {
  line-height: 125%;
  margin-bottom: 5px;
}

h6 {
  line-height: 125%;
  margin-bottom: 5px;
}

::selection {
  background: #fbc689;
}


/* Text elements
-------------------------------------------------------------- */
a,
a:link,
a:visited {
  color: #ed7611;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #42515A;
}

li a.active {
  color: #ed7611;
}

p {
  font-size: 100%;
  line-height: 150%;
  margin-bottom: 10px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul,
ol {
  margin-bottom: 20px;
  margin-left: 20px;
}

ul li,
ol li {
  margin-bottom: 5px;
}


/* Page
-------------------------------------------------------------- */
#page {
  margin: 20px auto;
  width: 960px;
}

.inner {
  padding: 0;
}


/* Primary Menu
-------------------------------------------------------------- */
#nav-wrapper {
  margin: 0 0 20px 0;
  position: relative;
  z-index: 100;
}

#nav-inner {
  padding: 0;
}

nav {
  float: left;
  font-weight: bold;
}

/* Menu */
nav ul.menu {
  margin: 0;
  padding: 0;
}

nav ul.menu li {
  border-right: 1px solid #000;
  display: block;
  float: left;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

nav ul.menu li.last {
  border-right: none;
}

nav ul.menu li a:link,
nav ul.menu li a:visited {
  display: block;
  color: #999;
  padding: 5px 10px;
  text-decoration: none;
}

nav ul.menu li.first a:link,
nav ul.menu li.first a:visited {
  padding-left: 0;
}

nav ul.menu li a:hover,
nav ul.menu li a:focus,
nav ul.menu li a.active {
  color: #000;
}

/* Active */
nav ul.menu li.active-trail a:link,
nav ul.menu li.active-trail a:visited {
  color: #ED7611;
}

/* Expanded */
nav ul.menu li.expanded:hover > a:link,
nav ul.menu li.expanded:hover > a:visited {
  background: #000;
  color: #fff;
}

/* Second level */
nav ul.menu li ul {
  left: -999em;
  position: absolute;
}
  
nav ul.menu li:hover ul {
  background: #000;
  display: block;
  left: auto;
  margin-left: -1px;
  width: 150px;
}
  
nav ul.menu li ul li {
  border: none;
  float: none;
}

nav ul.menu li ul li.last {
  border-bottom: none;
}
  
nav ul.menu li ul li a:link,
nav ul.menu li ul li a:visited,
nav ul.menu li ul li.first a:link,
nav ul.menu li ul li.first a:visited,
nav ul.menu li.active-trail ul li a:link,
nav ul.menu li.active-trail ul li a:visited {
  color: #fff;
  display: block;
  padding: 5px 10px;
  margin: 0;
  text-decoration: none;
}

nav ul.menu li ul li a:hover,
nav ul.menu li ul li a:active,
nav ul.menu li ul li.active-trail a.active,
nav ul.menu li.active-trail ul li a:hover,
nav ul.menu li.active-trail ul li a:focus  {
  background: #666;
  color: #000;
}

nav ul.menu li ul li.expanded:hover > a:link,
nav ul.menu li ul li.expanded:hover > a:visited {
  background: #666;
  color: #fff;
}

/* Third level */
nav ul.menu li:hover ul li ul {
  left: -999em;
  position: absolute;
}
  
nav ul.menu li:hover ul li:hover ul {
  background: #666;
  display: block;
  left: auto;
  margin: -28px 0 0 150px;
  width: 150px;
}

nav ul.menu li ul li:hover ul a:hover,
nav ul.menu li ul li:hover ul a:focus {
  background: #999;
  color: #fff;
}


/* Secondary menu
-------------------------------------------------------------- */
.region-secondary-navigation {
  float: right;
  margin-bottom: 5px;
  position: relative;
}

.region-secondary-navigation ul.menu {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

.region-secondary-navigation ul.menu li {
  border-right: 1px solid #43525b;
  display: block;
  float: left;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

.region-secondary-navigation ul.menu li.last {
  border-right: none;
}

.region-secondary-navigation ul.menu a:link,
.region-secondary-navigation ul.menu a:visited {
  color: #43525B;
  padding: 0 10px;
  text-decoration: none;
}

.region-secondary-navigation ul.menu li.last a:link,
.region-secondary-navigation ul.menu li.last a:visited {
  padding-right: 0;
}

.region-secondary-navigation ul.menu li a:hover,
.region-secondary-navigation ul.menu li a:focus {
  text-decoration: underline;
}


/* Header
-------------------------------------------------------------- */
header[role="banner"] {
  margin-bottom: 20px;
}

header[role="banner"] #logo {
  float: left;
}

#header-inner .column {
  float: left;
}


/* Search
-------------------------------------------------------------- */
.region-search {
  float: right;
  margin: 0;
}

#block-search-form {
  background: url(../images/search-bg.png) no-repeat 0 0;
  display: block;
  height: 21px;
  width: 152px;
}

#block-search-form input {
  vertical-align: top;
}

#block-search-form #search {
  padding: 1px 5px;
}

#block-search-form #search-button input {
  margin-top: 3px;
}

#block-search-form #search-input input {
  background: transparent;
  border: none;
  color: #68747b;
  margin-left: 5px;
  white-space: nowrap;
  width: 110px;
}


/* Search - Results
-------------------------------------------------------------- */
ol.search-results {
  margin: 0;
  padding: 0;
}

ol.search-results li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

ol.search-results .search-snippet-info {
  padding: 0;
}


/* Preface regions
-------------------------------------------------------------- */
#preface-wrapper {
  margin-bottom: 20px;
}

.preface .column {
  float: left;
}


/* Preface regions - First/Middle/Last
-------------------------------------------------------------- */
.prefaces-1 .column {
  width: 960px;
}


/* Preface regions - First:Middle:Last
-------------------------------------------------------------- */
.prefaces-3 .column {
  width: 307px;
}

.prefaces-3 #preface-second.column {
  margin: 0 20px;
  width: 306px;
}


/* Preface regions - First:Middle/First:Last/Middle:Last
-------------------------------------------------------------- */
/* First:Second */
.prefaces-2 .column {
  width: 470px;
}

body.preface-first-second #preface-second.column,
body.preface-first-third #preface-last.column,
body.preface-second-third #preface-last.column {
  margin-left: 20px;
}


/* Main
-------------------------------------------------------------- */
#main-wrapper {
  padding-bottom: 20px;
}


/* Sidebar Region
-------------------------------------------------------------- */
#sidebar-first {
  float: left;
}

#sidebar-second {
  float: right;
}


/* Single Column Layout (Main Content)
-------------------------------------------------------------- */
body.layout-main #content-wrapper {
  margin: 0;
  width: 960px;
}


/* Two Column Layout - Sidebar:Main Content
-------------------------------------------------------------- */
body.sidebar-first #sidebar-first {
  margin: 0 20px 0 0;
  width: 160px;
}

body.sidebar-first #main {
  float: left;
  width: 780px;
}


/* Two Column Layout - Main Content:Sidebar
-------------------------------------------------------------- */
body.layout-main-second #main {
  float: left;
  width: 780px;
}

body.layout-main-second #sidebar-second {
  margin: 0 0 0 20px;
  width: 160px;
}


/* Three Column Layout - Sidebar:Main Content:Sidebar
-------------------------------------------------------------- */
body.layout-first-main-second #sidebar-first {
  margin: 0;
  width: 160px;
}

body.layout-first-main-second #main {
  float: left;
  margin: 0 20px 0 20px;
  position: relative;
  width: 600px;
  z-index: 1;                    /* keep content visible on admin pages */
}

body.layout-first-main-second #sidebar-second {
  width: 160px;
}


/* Postscript Top
-------------------------------------------------------------- */
#postscript-top-wrapper {
  margin-bottom: 20px;
}


/* Postscript regions
-------------------------------------------------------------- */
#postscript-wrapper {
  margin-bottom: 20px;
}

.postscript .column {
  float: left;
}


/* Postscript regions - First/Middle/Last
-------------------------------------------------------------- */
.postscripts-1 .column {
  width: 960px;
}


/* Postscript regions - First:Middle:Last
-------------------------------------------------------------- */
.postscripts-3 .column {
  width: 307px;
}

.postscripts-3 #postscript-second.column {
  margin: 0 20px;
  width: 306px;
}


/* Postscript regions - First:Middle/First:Last/Middle:Last
-------------------------------------------------------------- */
/* First:Second */
.postscripts-2 .column {
  width: 460px;
}

body.postscript-first-second #postscript-second.column,
body.postscript-first-third #postscript-last.column,
body.postscript-second-third #postscript-last.column {
  margin-left: 40px;
}


/* Footer
-------------------------------------------------------------- */
footer[role="contentinfo"] {
}

/* Columns */
.footer .column {
  float: left;
}

/* Footer bottom */
#footer-bottom {
  color: #999;
  text-align: center;
}


/* Footer regions - First/Middle/Last
-------------------------------------------------------------- */
.footers-1 .column {
  width: 960px;
}


/* Footer regions - First:Middle:Last
-------------------------------------------------------------- */
.footers-3 .column {
  width: 307px;
}

.footers-3 #footer-second.column {
  margin: 0 20px;
  width: 306px;
}


/* Footer regions - First:Middle/First:Last/Middle:Last
-------------------------------------------------------------- */
/* First:Second */
.footers-2 .column {
  width: 470px;
}

body.footers-first-second #footer-second.column,
body.footers-first-third #footer-last.column,
body.footers-second-third #footer-last.column {
  margin-left: 20px;
}


/* Messages 
-------------------------------------------------------------- */
div.messages {
  border-radius: 3px;
  display: block;
  margin-bottom: 1.5em;
}

.button-wrapper div.message {
  color: #fff;
  line-height: 25px;
  padding-right: 20px;
  white-space: nowrap;
}

.marker,
.form-required {
  color: #f5951d
}


/* Forms 
-------------------------------------------------------------- */
/* Button */
span.button-wrapper {
  cursor: pointer;
}

span.button {
  background: transparent url(../images/button-orange-left.png) no-repeat 0 0;
  display: -moz-inline-box; /* for FF2 */
  display: inline-block;
  height: 25px;
  padding: 0 10px 0 0;
  position: relative;
}

span.button span {
  background: transparent url(../images/button-orange-right.png) no-repeat 100% 0;
  display: -moz-inline-box; /* for FF2 */
  display: inline-block;
  height: 25px;
  margin-left: 10px;
  padding: 0 10px 0 0;
}

span.button span input {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer; /* for Opera */
  height: 25px;
  font-size: 108.333333%; /* 13px/12px */
  font-weight: bold;
  line-height: 25px;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px #b46118;
  white-space: nowrap !important; 
}

span.button span span {
  background: url(../images/status-active.gif) 100% 50%;
  float: right;
}

span.button span input:hover,
span.button span input.hover {
}

span.button:hover {
  background-position: 0 100%;
}

span.button:hover span {
  background-position: 100% 100%;
}

/* input */
input::-webkit-input-placeholder,
input:-moz-placeholder {
  color: #f30;
}

.form-item {
  margin: 0 0 10px 0;
}

.form-item input,
.form-item select,
.form-item textarea {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 3px 5px;
}

.form-item .form-checkbox,
.form-item radio {
  border: none;
  border-radius: 0;
  padding: 0; 
}


/* Tabs 
-------------------------------------------------------------- */
div.tabs {
  margin: 0 0 5px 0;
}

ul.primary {
  margin: 0;
  padding: 0 0 0 10px; /* LTR */
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(../images/tabs/tab-bar.png) repeat-x 0 100%;
}

ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat 0 -38px;
}

ul.primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(../images/tabs/tab-right.png) no-repeat 100% -38px;
}

ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat 0 -76px;
}

ul.primary li a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat 100% -76px;
}

ul.primary li.active a,
ul.primary li.active a:hover {
  border-width: 0;
  color: #000;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat 0 0;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat 100% 0;
}

ul.secondary {
  margin: 0;
  padding: 0 0 0 5px; /* LTR */
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tabs/tab-secondary-bg.png) repeat-x 0 100%;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none; /* LTR */
}

ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
  background: url(../images/tabs/tab-secondary.png) repeat-x 0 -56px;
}

ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

ul.secondary a:hover {
  background: url(../images/tabs/tab-secondary.png) repeat-x 0 100%;
}

ul.secondary a.active,
ul.secondary a.active:hover {
  border: 1px solid #c0c0c0;
  color: #000;
  background: url(../images/tabs/tab-secondary.png) repeat-x 0 0;
}


/* Breadcrumbs 
-------------------------------------------------------------- */
body.page-search .breadcrumb {
  display: none;  
}

ul.breadcrumbs {
  font-size: 91.666667%; /* 11px/12px */
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 0;
}

ul.breadcrumbs li {
  background: url(../images/breadcrumb-seperator.png) no-repeat 100% 50%;
  display: block;
  float: left;
  line-height: 100%;
  list-style: none;
  list-style-image: none;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}

ul.breadcrumbs li.last {
  background: transparent;
  margin-right: 0;
  padding-right: 0;
}

ul.breadcrumbs li a:link,
ul.breadcrumbs li a:visited {
  text-decoration: none;
}

ul.breadcrumbs li a:hover,
ul.breadcrumbs li a:focus {
  text-decoration: underline;
}


/* Node
-------------------------------------------------------------- */
/* Unpublished */
.node-unpublished {
  background-color: #FFFFCC;
}

/* Float left/right */
.floatleft {
  float: left;
  margin: 0 20px 20px 0;
}

.floatright {
  float: right;
  margin: 0 0 20px 20px;
}

.floatcenter {
  text-align: center;  
}

.float-nomargin {
  margin: 0;
}

/* Horizontal rule */
hr {
  border-top: 2px solid #E8E8E8;
  clear: both;
  display: block;
  height: 2px;	
  margin: 20px 0;
}

/* Submitted */
.submitted {
  margin-bottom: 1em;
}

/* Links */
.node footer {
  display: block;
  margin-bottom: 20px;
}

.node ul.links {
  margin: 0;
}

.node ul.links li {
  margin: 0;
  padding: 0;
}


/* Comments
/-------------------------------------------------------------- */



/* Blocks
-------------------------------------------------------------- */
.block {
  margin-bottom: 20px;
}

.block-last {
  margin-bottom: 0;
}


/* Clearfix 
-------------------------------------------------------------- */
/* Clearfix - Section/Panels */
section:after,
.views-row:after,
.panel-pane:after,
.center-wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  clear: both;
}

.hide {
  display: none;
}


/* Buttons 
-------------------------------------------------------------- */
/* Wide */
.button-wide {
  text-align: center;
  width: 100%;
}

/* Orange */
a.button-orange:link,
a.button-orange:visited {
  background: url(../images/button-orange-left.png) no-repeat 0 0;
  color: #fff;
  display: block;
  float: left;
  font-weight: bold;
  height: 25px;
  overflow: hidden;
  text-decoration: none;
  text-shadow: 1px 1px 2px #b46118;
}

a.button-orange span {
  background: url(../images/button-orange-right.png) no-repeat 100% 0;
  display: block;
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
  padding: 0 10px 0 0;
}

a.button-orange:hover,
a.button-orange:focus {
  background-position: 0 100%;
}

a.button-orange:hover span,
a.button-orange:focus span {
  background-position: 100% 100%;
}


/* Pagers
-------------------------------------------------------------- */
.item-list ul.pager {
  float: right;
  font-size: 91.666667%; /* 11px/12px */
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 2px #b46118;
}

.item-list ul.pager li {
  display: block;
  float: left;
  margin: 0 0 0 5px;
  padding: 0;
}

.item-list ul.pager li a,
.item-list ul.pager li.pager-current {
  background-color: #aaa;
  color: #fff;
  padding: 3px 8px;
  text-transform: uppercase;
}

.item-list ul.pager li.pager-current {
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 2px; 
  color: #42515A;
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0 7px;
  text-shadow: none;
}

.item-list ul.pager li.pager-ellipsis{
  line-height: 22px;
}

.item-list ul.pager li a:link,
.item-list ul.pager li a:visited {
  background: #f69745 url(../images/bg-orange-tall.png) repeat-x 0 0;
  border: 1px solid #f69745;
  border-radius: 2px;
  color: #fff;
  display: block;
  height: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0 7px;
  text-decoration: none;
}

.item-list ul.pager li a:hover,
.item-list ul.pager li a:focus {
  background-position: 0 100%;
  color: #fff;
  text-decoration: none;
}

.item-list ul.pager li.pager-first a,
.item-list ul.pager li.pager-previous a,
.item-list ul.pager li.pager-next a,
.item-list ul.pager li.pager-last a {
  background: #f69745 url(../images/pager-arrows.png) no-repeat;
  border: none;
  color: transparent;
  display: block;
  height: 22px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-indent: -999em;
  width: 22px;
}

/* Pager - First */
.item-list ul.pager li.pager-first a {
  background-position: 0 0;
}

/* Pager - Previous */
.item-list ul.pager li.pager-previous a {
  background-position: 0 -44px;
}

/* Pager - Next */
.item-list ul.pager li.pager-next a {
  background-position: 0 -132px;
}

/* Pager - Last */
.item-list ul.pager li.pager-last a {
  background-position: 0 -88px;
}

/* Pager Hovers */
.item-list ul.pager li.pager-first a:hover,
.item-list ul.pager li.pager-first a:focus {
  background-position: 0 -22px;
}

.item-list ul.pager li.pager-previous a:hover,
.item-list ul.pager li.pager-previous a:focus {
  background-position: 0 -66px;
}

.item-list ul.pager li.pager-next a:hover,
.item-list ul.pager li.pager-next a:focus {
  background-position: 0 -154px;
}

.item-list ul.pager li.pager-last a:hover,
.item-list ul.pager li.pager-last a:focus  {
  background-position: 0 -110px;
}


/* Tables 
-------------------------------------------------------------- */
table {
  margin-bottom: 20px;
}

table td {
  border: 1px solid #ccc;
  padding: 10px;
}

table p {
  margin: 0;
}

table.tabledrag-processed {
  margin-bottom: 10px;
}

table.tabledrag-processed th {
  padding-bottom: 5px;
}

table tr.even,
table tr.odd {
  background: transparent;
}


/* Misc. 
-------------------------------------------------------------- */